# System authorization information
auth --enableshadow --passalgo=sha512
url --url=http://192.168.230.200/centos
repo --name=local --baseurl=http://192.168.230.200/centos
cdrom
# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

reboot

# Network information
network  --bootproto=dhcp --activate
network  --hostname=todo4640.bcit.local

firewall --enabled --http

# Root password
rootpw --iscrypted $6$MDyAAGNWYWsD7d8.$PYU8ZyvKlnDKPD/J7/yw8ilPhL50G9Tlh0SE1CPp8YIS6aBojZEgdkfoHygEkhdZhNlJiApMIL63kX.7TS4wy/
# System services
services --disabled="chronyd"
# System timezone
timezone America/Vancouver --isUtc --nontp
user --groups=wheel --name=admin --password=$6$qi.8HqVmXNXkT65m$ri4f6Yi506IafywzPDKlY31ce94sIZ9HnOmQG7akP9hmctqi5WErvc3ba0Mb7bhtk0ThQtuDDczsZzb5Ic4Zt/ --iscrypted --gecos="admin user"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all

repo --name="epel-release" --baseurl=http://mirror.its.dal.ca/pub/epel/7/x86_64/
repo --name="centos" --baseurl=http://mirror.it.ubc.ca/centos/7/os/x86_64/

%packages
@core
kexec-tools
epel-release
git
nodejs
mongodb-server
nginx
psmisc
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
DATABASE_FILE="/home/admin/database.js"
NGINX_FILE="/home/admin/nginx.conf"
SERVICE_FILE="/home/admin/todoapp.service"
CONFIG_DIRECTORY="/home/todoapp/app/config"
NGINX_DIRECTORY="/etc/nginx"
ADMIN_USER="admin"
TODOAPP_USER="todoapp"
SERVICE_DIRECTORY="/etc/systemd/system"

users (){
	sudo useradd -p $(openssl passwd -1 P@ssw0rd) "$ADMIN_USER"
	sudo useradd -p $(openssl passwd -1 P@ssw0rd) "$TODOAPP_USER"
	sudo usermod -a -G wheel "$ADMIN_USER"
}

edit_system(){
	sed -i 's/^#\s*\(%wheel\s*ALL=(ALL)\s*NOPASSWD:\s*ALL\)/\1/' /etc/sudoers
	sed -i 's/^\(Defaults    requiretty\)/#\1/' /etc/sudoers
	setenforce 0
	sed -r -i 's/SELINUX=(enforcing|disabled)/SELINUX=permissive/' /etc/selinux/config
}

todoapp_service(){
	sudo systemctl enable mongod
	cd /home
	sudo mkdir /home/todoapp/app
	sudo chmod 755 /home/todoapp
	sudo chmod 777 /home/todoapp/app
	git clone https://github.com/timoguic/ACIT4640-todo-app.git /home/todoapp/app
	cd /home/todoapp
	sudo chown todoapp app
	cd /home/todoapp/app
	npm install
}	
	
services_start(){
	sudo systemctl enable nginx
	sudo systemctl daemon-reload
	sudo systemctl enable todoapp
	sudo systemctl start todoapp
}
users
edit_system
todoapp_service
services_start
%end

