# System authorization information
auth --enableshadow --passalgo=sha512
url --url=http://192.168.230.200/centos
repo --name=local --baseurl=http://192.168.230.200/centos
# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

reboot

# Network information
network  --bootproto=static --device=enp0s3 --ip=192.168.230.10 --netmask=255.255.255.0 --gateway=192.168.230.1 --nameserver=8.8.8.8 --onboot=true --activate
network  --hostname=todo4640.bcit.local

firewall --enabled --http

# Root password
rootpw --iscrypted $6$MDyAAGNWYWsD7d8.$PYU8ZyvKlnDKPD/J7/yw8ilPhL50G9Tlh0SE1CPp8YIS6aBojZEgdkfoHygEkhdZhNlJiApMIL63kX.7TS4wy/
# System services
services --disabled="chronyd"
# System timezone
timezone America/Vancouver --isUtc --nontp
user --groups=wheel --name=admin --password=$6$qi.8HqVmXNXkT65m$ri4f6Yi506IafywzPDKlY31ce94sIZ9HnOmQG7akP9hmctqi5WErvc3ba0Mb7bhtk0ThQtuDDczsZzb5Ic4Zt/ --iscrypted --gecos="admin user"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all

%packages
@core
kexec-tools
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
yum -y install epel-release
PORT="8080"
ADMIN_USER="admin"
TODOAPP_USER="todoapp"
DATABASE_FILE="/home/admin/database.js"
NGINX_FILE="/home/admin/nginx.conf"
SERVICE_FILE="/home/admin/todoapp.service"
CONFIG_DIRECTORY="/home/todoapp/app/config"
NGINX_DIRECTORY="/etc/nginx"
SERVICE_DIRECTORY="/etc/systemd/system"
SSH_FILE="/home/admin/.ssh"
KEY_FILE="/home/admin/acit_admin_id_rsa.pub"
AUTH_FILE="/home/admin/authorized_keys"
user_creation () {
	sudo useradd -p $(openssl passwd -1 P@ssw0rd) "$ADMIN_USER"
	sudo useradd -p $(openssl passwd -1 P@ssw0rd) "$TODOAPP_USER"
	sudo usermod -a -G wheel "$ADMIN_USER"
}

install () {

	sudo mkdir /home/admin/.ssh
	cd /home/admin
	curl -O http://192.168.230.200/files/acit4640/assignment1/setup/database.js
	curl -O http://192.168.230.200/files/acit4640/assignment1/setup/nginx.conf
	curl -O http://192.168.230.200/files/acit4640/assignment1/setup/todoapp.service
	sudo curl -O -L http://192.168.230.200/files/acit_admin_id_rsa.pub
	sudo curl -O -L http://192.168.230.200/files/authorized_keys
	sudo chmod 744 "$KEY_FILE"
	sudo chmod 744 "$AUTH_FILE"
	
	setenforce 0
	sed -r -i 's/SELINUX=(enforcing|disabled)/SELINUX=permissive/' /etc/selinux/config

	sudo yum -y install git 
	sudo yum -y install mongodb-server 
	sudo yum -y install nodejs 
	sudo yum -y install npm
	sudo yum -y install psmisc	
	sudo yum -y install nginx
}
mongo() {
	sudo systemctl enable mongod
	cd /home
}

set_up_app() {
	sudo mkdir /home/todoapp/app
	sudo chmod 755 /home/todoapp
	sudo chmod 777 /home/todoapp/app
	git clone https://github.com/timoguic/ACIT4640-todo-app.git /home/todoapp/app
	cd /home/todoapp
	sudo chown todoapp app
	cd /home/todoapp/app
	npm install
}


file_setup() {
	sudo cp -f "$DATABASE_FILE" "$CONFIG_DIRECTORY"
	sudo cp -f "$NGINX_FILE" "$NGINX_DIRECTORY"
	sudo cp -f "$SERVICE_FILE" "$SERVICE_DIRECTORY"
	sudo cp -f "$KEY_FILE" "$SSH_FILE"
	sudo cp -f "$AUTH_FILE" "$SSH_FILE"
}

services_start() {
	sudo systemctl enable nginx
	sudo systemctl enable todoapp
	sudo killall node
	sudo killall node
}

echo "starting script..."

user_creation
install
mongo
set_up_app
file_setup
services_start
%end
